*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
    height: 100%;
}

header{
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.sidebar{
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: coral;
}


.todobox{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 10px;
    gap: 10px;
}

.todo-div{
    height: 150px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border: solid 1px black;
}

.todo-form{
    display: none;
    flex-direction: column;
    position: fixed;
    gap: 10px;
    top: 25%;
    right: 25%;
    left: 25%;
    background-color: aliceblue;
    padding: 15px;
    border: solid 1px black;
}

.form-buttons{
    align-self: flex-end;
}

.create-todo, .close-form{
    width: 60px;
}

